/* Figma Styles of your File */
:root {
  /* Colors */
  --blue-linear: linear-gradient(
    135deg,
    rgba(21, 93, 252, 1) 0%,
    rgba(0, 146, 184, 1) 100%
  );

  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
